.header {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 90%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    background-color: #b8d6f5 ;
    border: 2px solid #121212;
    box-shadow:  0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
  }
  .wrapperMenu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px auto;
  width: 98%;
  overflow-x: scroll;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
  background-color: #1e90ff ;
  border: 2px solid #121212;
  box-shadow:  0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
  }
  .containerMenu{
    padding: 10px;
    width: 320px;
    margin-top: 20px;
    transition: all 0.6s;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background:#0582ff;
    background-clip: padding-box;
    z-index: 1;
    transform: translateY(0px);
  }
  .containerMenu:hover{
    transform: translateY(-10px);
  }
.title{
    color: #000;
    -webkit-text-stroke: 5px rgba(255, 255, 255, 0.3);
}
.titles{
  color: #000;
  -webkit-text-stroke: 5px rgba(255, 255, 255, 0.3);
  text-align: center;
}
  .icons{
    font-size: 40px;
    color: #000;
  }