.App {
  display: flex;
  margin: 10px auto;
  width: 98%;
  overflow-x: scroll;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
  background-color: #1e90ff ;
  border: 2px solid #121212;
  box-shadow:  0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
}
.container{
  padding: 10px;
  width: 320px;
  margin-top: 20px;
  transition: all 0.6s;
  backface-visibility: hidden;
  text-align: center;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
    z-index: 1;
    transform: translateY(0px);
}

::-webkit-scrollbar {
  height: 10px;
  
}

::-webkit-scrollbar-track {
  background: #0582ff ;
  
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 40px 40px 40px 40px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

h1{
  -webkit-text-stroke: 3px rgba(255, 255, 255, 0.3);
}
h2{
  font-weight: 600;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.5);
}
h3{
  font-weight: bold;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
.container:hover{
 
  transform: translateY(-20px);
}


img{
  position: relative;
  width: 50%;
  height: 15vh;
}
.imagens{
  border-radius: 5px;
}
button{
  color: #000;
  font-size: 14px;
  padding: 5px;
  margin-top:5px ;
  font-weight: bold;
	border-radius: 40px 40px 40px 40px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: #abd7f5;
  background-image: linear-gradient(135deg, #abd7f5 0%, #cbe4f0 100%);
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  
}
button:hover{
  color: #fff;
  background-color: #b1d6f0;
  background-image: linear-gradient(135deg, #92acbd 0%, #7275a0 100%);
}